body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: rgb(226, 221, 221);
}

nav li{
    display:inline;
    margin: 30px;
}
nav ul{
    background-color: black;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 20px;
}

nav{
    text-align: center;
    color: white;
}

nav a{
    color:white;
    text-decoration: none;
}

nav a:hover{
    color: blue;
}

.hero-image{
    background-image: url("../images/mazamitla.JPG");
    height: 65%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
}

.hero-text{
    color:rgb(72, 209, 79);
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}


#main{
    width: 75%;
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

#side{
    width:20%;
    float: right;
    height: 100%;
    padding: 20px;
}

#profile-image{
    width: 100%;
    border-radius: 10%;
    border: 2px solid lightgray;
}

.colombia{
    width: 100%;
}
 
#profile{
    text-align: center;
}

.side-articles ul{
    list-style-type: none;
    padding-left: 0px
}

#profile h2{
    display: inline;
}

#profile-details{
    margin-right: 30px;
    text-align: center;
}

.side-article,.main-articles{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.side-articles{
    text-align: center;
}


form{
    margin-top: 5px;
}

textarea, input{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.side-articles h1{
    margin-bottom: 20px;
}

footer{
    bottom: 0px;
    width:100%;
    background-color: black;
    height: 5vh;
    margin-top: 0px;
}

footer div{
    text-align: center;
    color: white;
}

main{
    overflow: auto;
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0 12px 12px -12px white;
}